/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* Basic page style resets */
:root {
  --bg-color: #ffffff;
  --primary-color: #b02912;
  --secondary-color: #000000;
  --font-family: "Roboto Condensed", sans-serif;
  --line-height: 1.7rem;
  --normal-font: 400rem;
  --bold-font: 700rem;
  --bolder-font: 900rem;
  --margin-bottom: 0.5rem;
  --primary-shadow: #59473e;
  --transition: 0.3s;
}

html {
  scroll-behaviour: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
body {
  font-family: var(--font-family);
}
.navigation {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  align-item: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 1rem 3.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navigation h1 {
  color: var(--primary-color);
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
nav ul {
  display: flex;
  gap: 1.9rem;
}
nav ul li {
  font-weight: var(--bold-font);
}
.navMenu {
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  display: none;
}
/*
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
*/
.hero{
  display:flex;
  align-item: center;
  justify-content:center;
  margin:auto;
  gap:2.5rem;
  max-width:68.75rem;
}
.hero img{
  height:37.5rem;
  width:37.5rem;
}
.name {
  /*   padding:10px; */
  font-weight: var(--bolder-font);
  color: var(--primary-color);
  font-size: 70px;
}
.nameParagraph {
  font-size: 30px;
  padding-top:5rem; 
  text-align: right;
/*   padding-top:5rem; */
}
.skills {
  /*background-color: #7d1935;*/
  color: black;
  padding-bottom: 50px;
}
.projects {
  /*background-color: #b42b51;*/
  color: black;
  padding: 32px 0;
  margin-top:2rem;
}
.projectPics {
  width:70%;
  height:50%;
}
.projectsContainer {
  display:flex;
  align-item:center;
  justify-content:center;
}
.projectContainer p{
  padding:0.4rem;
}
.proTitle{
  text-align:center;
  margin-bottom:1rem;
}
.projectTitle {
  margin-bottom: var(--bottom-margin);
}
.projectDetails {
  margin-bottom: var(--bottom-margin);
}
.projectContainer{
  text-align:center;
  padding:1rem;
  width:21.9rem;
}
button a {
  color:white;
}
.card{
  background-color:#ffffff;
  border-radius:11px;
  padding:20px;
  margin:10px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  
}
.write-up {
  text-align:center;
  line-height: var(--line-height);
  background-color: #e63e6d;
  padding-top: 25px;
}
.menu {
  color: black !important;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/
