/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* Basic page style resets */
:root {
  --bg-color: #ffffff;
  --primary-color: #b02912;
  --secondary-color: #000000;
  --font-family: "Roboto Condensed", sans-serif;
  --line-height: 1.7rem;
  --normal-font: 400rem;
  --bold-font: 700rem;
  --margin-bottom: 0.5rem;
  --primary-shadow: #59473e;
  --transition: 0.3s;
}

html {
  scroll-behaviour: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
}
body {
  font-family: var(--font-family);
}
.navigation {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  align-item: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 1rem 3.5rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navigation h1 {
  color: var(--primary-color);
}
nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
nav ul {
  display: flex;
  gap: 1.9rem;
}
nav ul li {
  font-weight: var(--bold-font);
  color:rgb(45, 85, 255);
}
nav ul li a{
  color: blue !important;
  }
.navMenu {
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  display: none;
}

.name {
   
  font-weight: var(--bolder-font);
  color: var(--primary-color);
}
.text{
  color:black;
  font-weight:bold;
}

} */
.skills {
  
  color: black;
  padding-bottom: 50px;
}
.projects {
  
  color: var(--primary-color);
  padding: 32px 0;
  margin-top:2rem;
}
.projectPics {
  width:70%;
  height:50%;
}
.projectsContainer {
  display:flex;
  align-item:center;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projectContainer p{
  padding:0.4rem;
}
.proTitle{
  text-align:center;
  margin-bottom:1rem;
}
.projectTitle {
  margin-bottom: var(--bottom-margin);
}
.projectDetails {
  margin-bottom: var(--bottom-margin);
  color:black;
}
.projectContainer{
  text-align:center;
  padding:1rem;
  width:22rem;
}

.noPad{
  padding-top:0;
  margin-top:0;
}


button a {
  color:white;
}
.card{
  background-color:#ffffff;
  border-radius:11px;
  padding:20px;
  margin:10px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  
}
.writeUpCard {
  text-align:center;
  font-size:30px;
  width:100%;
  padding:20px;
  margin:10px;
  height:auto;
}
.writeUpCard div{
  margin:auto;
  display:block;
  font-size: 20px;
  
}
.writeUpCard a{
  display:inline;
}
footer{
  text-align: center;
}
@media screen and (max-width:720px){

  .hero img{
    height:30.5rem;
  }
  .hero p {
    font-size:20px;
  }
  .name {
  font-weight: var(--bolder-font);
  color: var(--primary-color);
    font-size: 30px;}
  
  .bottomRight{
  position: absolute;
background: rgb(0, 0, 0);
  background: rgba(45, 85, 255, 0.1); /* Black see-through */
  color: #f1f1f1;
  w
  opacity:0;
  right: 0;
}
  .noPad{
    position: relative;
  text-align: center;
  color: white;
  }
  .wrapper{
    float: "left";
  }
  .projectsContainer{
    flex-direction:column;
  }
/*   .projectContainer{
    width:45%;
  } */
  .writeUpCard {
    font-size:26px;
  }
}
